<!--The top nav bar-->

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid header-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://reveacademy.org/"><img src="../assets/images/academylogo_white.png"/></a>
        </div>
        <div class="search-bar navbar-form navbar-right">
            <div ng-controller="logoutController">
                <a ng-click='logout()' class="btn btn-primary1">Logout</a>
            </div>
        </div>
    </div>
</div>

<!--The Side Bar-->
<div class="container-fluid admin-content">

    <div class="row">

        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2" id="sidebar" role="navigation">

            <ul class="nav nav-sidebar">
                <li ng-class="{active: $route.current.activetab == 'admin'}"><a href="#/admin">Overview</a></li>
                <li ng-class="{active: $route.current.activetab == 'schools'}"><a href="#/schools">Schools</a></li>
                <li ng-class="{active: $route.current.activetab == 'admin-teachers'}"><a href="#/admin-teachers">Teachers</a></li>
                <li ng-class="{active: $route.current.activetab == 'admin-classes'}"><a href="#/admin-classes">Classes</a></li>
                <li ng-class="{active: $route.current.activetab == 'admin-assignments'}"><a href="#/admin-assignments">Assignments</a></li>
                <li ng-class="{active: $route.current.activetab == 'admin-students'}"><a href="#/admin-students">Students</a></li>
            </ul>

        </div><!--/span-->
        <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 main">

            <div class="assignment-info">
                <h4>Add a Class</h4>
                <form name="form" ng-submit="sendClass()" method="post">
                    <div class="alert alert-info" ng-model="successMessage" ng-if="showSuccessMessage">{{successMessage}}</div>
                    <div class="form-group">
                        <input type="text" ng-model="adminClasses.name" name="name" id="name" class="form-control" placeholder="Class Name" required />
                    </div>
                    <div class="form-group">
                        <label for="startDate" class="heading3">Start Date</label>
                        <input type="text" pattern="\d{1,2}/\d{1,2}/\d{4}" ng-model="adminClasses.startdate" name="startdate" id="startdate" placeholder="mm/dd/yyyy" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="enddate" class="heading3">End Date</label>
                        <input type="text" pattern="\d{1,2}/\d{1,2}/\d{4}" ng-model="adminClasses.enddate" name="enddate" id="enddate" placeholder="mm/dd/yyyy" class="form-control" required />
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>

            <hr>

            <div id="someContainer" class="col-xs-12">
                <h4>Class Information</h4>
                <div class="alert alert-info" ng-model="editDeleteMessage" ng-if="showEditDeleteMessage">{{editDeleteMessage}}</div>
                <div class="slide col-md-12 admin-classes school well" ng-repeat="adminClasses in adminClassesData">
                    <p class="admin-classes-list classes-name"><span class = " info-title">Class Name:</span> {{adminClasses.name}}</p>
                    <div class="my-animation" ng-show="show">
                    <p class="admin-classes-list classes-startdate"><span class = " info-title">Class Start Date:</span> {{adminClasses.startdate}}</p>
                    <p class="admin-classes-list classes-enddate"><span class = " info-title">Class End Date:</span> {{adminClasses.enddate}}</p>
                    </div>

                <button class="btn btn-primary" ng-click="show = !show"><span ng-show="show">Less Info</span><span ng-hide="show">More Info</span></button><button ng-click="showClass=!showClass" class="btn btn-primary">Edit</button><button ng-click="removeClass(adminClasses._id)" class="btn btn-primary">Delete</button>
                    <br />
                    <div class="my-animation" ng-show="showClass">
                        <form name="form" ng-submit="updateClass(adminClasses._id, adminClasses.name, adminClasses.startdate, adminClasses.enddate )" method="put">
                            <div class="form-group">
                                <input type="text" ng-model="adminClasses.name" name="name" id="name" class="form-control" placeholder="Class Name" required />
                            </div>
                            <div class="form-group">
                                <input type="text" pattern="\d{1,2}/\d{1,2}/\d{4}" ng-model="adminClasses.startdate" name="startdate" id="startdate" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <input type="text" pattern="\d{1,2}/\d{1,2}/\d{4}" ng-model="adminClasses.enddate" name="enddate" id="enddate" class="form-control" required />
                            </div>
                            <div class="form-actions">
                                <button type="submit" ng-click="showClass=hide" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                </div>
                </div>
            </div>
        </div><!--/row-->
    </div>
</div><!--/.container-->

<footer>
    <p class="pull-right">©2015 Reve Academy</p>
</footer>

