<div id="donutCharts">
    <div id="preAssessmentGrade">
        <h1>Pre-Assessment Average Grades</h1>
        <canvas id="preAssessmentDonut" class="chart chart-doughnut" chart-data="preAssessmentGrades" chart-labels="preAssessmentGradeLabels"></canvas>
        <ul class="legend">
            <li>
                <span style="background-color: #AAC7D5;"></span>
                One
            </li>
            <li>
                <span style="background-color: #DCDCDC;"></span>
                Two
            </li>
            <li>
                <span style="background-color: #F7464A;"></span>
                Three
            </li>
            <li>
                <span style="background-color: #46BFBD;"></span>
                Four
            </li>
        </ul>
    </div>
    <div id="ssPreGrade">
        <h1>Soft Skills Pre-Assessment Average Grades</h1>
        <canvas id="ssPreDonut" class="chart chart-doughnut" chart-data="ssPreAssessmentGrades" chart-labels="ssPreAssessmentGradeLabels"></canvas>
        <ul class="legend">
            <li>
                <span style="background-color: #AAC7D5;"></span>
                One
            </li>
            <li>
                <span style="background-color: #DCDCDC;"></span>
                Two
            </li>
            <li>
                <span style="background-color: #F7464A;"></span>
                Three
            </li>
            <li>
                <span style="background-color: #46BFBD;"></span>
                Four
            </li>
        </ul>
    </div>
    <div id="storyBoardGrade">
        <h1>Story Board Average Grades</h1>
        <canvas id="storyBoardDonut" class="chart chart-doughnut" chart-data="storyBoardGrades" chart-labels="storyBoardGradeLabels"></canvas>
        <ul class="legend">
            <li>
                <span style="background-color: #AAC7D5;"></span>
                One
            </li>
            <li>
                <span style="background-color: #DCDCDC;"></span>
                Two
            </li>
            <li>
                <span style="background-color: #F7464A;"></span>
                Three
            </li>
            <li>
                <span style="background-color: #46BFBD;"></span>
                Four
            </li>
        </ul>
    </div>
    <div id="websiteGrade">
        <h1>Website Average Grades</h1>
        <canvas id="websiteDonut" class="chart chart-doughnut" chart-data="websiteGrades" chart-labels="websiteGradeLabels"></canvas>
        <ul class="legend">
            <li>
                <span style="background-color: #AAC7D5;"></span>
                One
            </li>
            <li>
                <span style="background-color: #DCDCDC;"></span>
                Two
            </li>
            <li>
                <span style="background-color: #F7464A;"></span>
                Three
            </li>
            <li>
                <span style="background-color: #46BFBD;"></span>
                Four
            </li>
        </ul>
    </div>
    <div id="ssPostGrade">
        <h1>Soft Skills Post-Assessment Average Grades</h1>
        <canvas id="ssPostDonut" class="chart chart-doughnut" chart-data="ssPostGrades" chart-labels="ssPostGradeLabels"></canvas>
        <ul class="legend">
            <li>
                <span style="background-color: #AAC7D5;"></span>
                One
            </li>
            <li>
                <span style="background-color: #DCDCDC;"></span>
                Two
            </li>
            <li>
                <span style="background-color: #F7464A;"></span>
                Three
            </li>
            <li>
                <span style="background-color: #46BFBD;"></span>
                Four
            </li>
        </ul>
    </div>
    <div id="postAssessmentGrade">
        <h1>Post-Assessment Average Grades</h1>
        <canvas id="postAssessmentDonut" class="chart chart-doughnut" chart-data="postAssessmentGrades" chart-labels="postAssessmentGradeLabels"></canvas>
        <ul class="legend">
            <li>
                <span style="background-color: #AAC7D5;"></span>
                One
            </li>
            <li>
                <span style="background-color: #DCDCDC;"></span>
                Two
            </li>
            <li>
                <span style="background-color: #F7464A;"></span>
                Three
            </li>
            <li>
                <span style="background-color: #46BFBD;"></span>
                Four
            </li>
        </ul>
    </div>
</div>
