<div class="col-md-6 col-md-offset-3 register-page">
    <h2>Register</h2>
    <form name="regform" action="/register" method="post" novalidate>
        <div class="form-group">
            <input type="text" name="firstname" id="firstname" class="form-control" placeholder="First Name" required />
        </div>
        <div class="form-group">
            <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Last Name" required />
        </div>
        <div class="form-group">
            <input type="text" name="username" id="username" class="form-control" placeholder="Username" required />
        </div>
        <div class="form-group" ng-class="{ 'has-error' : regform.password.$error.pattern && !regform.password.$pristine }">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="password" ng-pattern="/^(?=.{6,20}$)(?=.*\d)(?=.*[a-zA-Z]).*$/" required />
            <p ng-show="regform.password.$error.pattern && !regform.password.$pristine" class="help-block">Password must have both a letter and a number, and must be between 6-20 characters.</p>
        </div>

        <div class="form-group"  ng-class="{ 'has-error' : (regform.passwordRepeated.$error.pattern ||regform.passwordRepeated.$invalid) && !regform.passwordRepeated.$pristine } ">
            <input type="password" name="passwordRepeated" id="passwordRepeated" class="form-control" placeholder="Repeat Password" ng-model="passwordRepeated" same-as="password" ng-pattern="/^(?=.{6,20}$)(?=.*\d)(?=.*[a-zA-Z]).*$/" required />
            <p ng-show="regform.passwordRepeated.$error.pattern && !regform.passwordRepeated.$pristine" class="help-block">Password must have both a letter and a number, and must be between 6-20 characters.</p>
            <p ng-show="regform.passwordRepeated.$error.match && !regform.passwordRepeated.$pristine" class="help-block">Must match initial password</p>
        </div>

        <div class="form-group">
            <label for="registerschool">School</label><br />
            <select id="registerschool" name="school">
                <option ng-repeat="school in schoolData">{{school.name}}</option>
            </select>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" href="#/login" ng-disabled="regform.$invalid">Register</button>
            <a href="#/login" class="btn btn-primary">Cancel</a>
        </div>
    </form>
    <div class = "logo">
        <img src="../assets/images/reveLogoTrans.png">
    </div>
</div>