
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid header-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://reveacademy.org/"><img src="../assets/images/academylogo_white.png"/></a>
            </div>
            <div ng-controller="logoutController">
                <a ng-click='logout()' class="btn btn-default">Logout</a>
            </div>
            <div class="navbar-collapse collapse top-nav">

                <form class=" search-bar navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid teachers-content">

        <div class="row row-offcanvas row-offcanvas-left">

            <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

                <ul class="nav nav-sidebar">
                    <li ng-class="{active: $route.current.activetab == 'teachers'}"><a href="#/teachers">Overview</a></li>
                    <li ng-class="{active: $route.current.activetab == 'teacher-classes'}"><a href="#/teacher-classes">Classes</a></li>
                    <li ng-class="{active: $route.current.activetab == 'teacher-students'}"><a href="#/teacher-students">Students</a></li>
                </ul>


            </div><!--/span-->

            <div class="col-sm-9 col-md-10 main">
                <h2 class="sub-header">Section title</h2>
                    <h3>Here is information pertinent to teachers.</h3>
            </div><!--/row-->
        </div>
    </div><!--/.container-->
<footer>
    <p class="pull-right">©2015 Reve Academy</p>
</footer>

