<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid header-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://reveacademy.org/"><img src="../assets/images/academylogo_white.png"/></a>
        </div>
        <div class="navbar-collapse collapse top-nav">
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid teacher-classes-content">

    <div class="row row-offcanvas row-offcanvas-left">

        <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

            <ul class="nav nav-sidebar">
                <li ng-class="{active: $route.current.activetab == 'teachers'}"><a href="#/teachers">Overview</a></li>
                <li ng-class="{active: $route.current.activetab == 'teacher-classes'}"><a href="#/teacher-classes">Classes</a></li>
                <li ng-class="{active: $route.current.activetab == 'teacher-students'}"><a href="#/teacher-students">Students</a></li>
            </ul>


        </div>

        <div class="col-sm-9 col-md-10 main">
            <h2 class="teacher-classes-info">Section title</h2>
            <h1>Class Information</h1>
            <form name="form" ng-submit="sendClass()" method="post">
                <div class="alert alert-info" ng-model="successMessage" ng-if="showSuccessMessage">{{successMessage}}</div>

                <div class="form-group">
                    <label for="name">Class</label><br />
                    <select ng-model="adminClasses.name" id="name" name="name">
                        <option ng-repeat="adminClasses in adminClassesData">{{adminClasses.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input type="date" ng-model="adminClasses.startdate" name="startdate" id="startdate" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="enddate">End Date</label>
                    <input type="date" ng-model="adminClasses.enddate" name="enddate" id="enddate" class="form-control" required />
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

            <hr>

            <div class="form-group">
                <label for="name">School</label><br />
                <select id="name" name="name">
                    <option value="{{adminClasses.name}}" ng-repeat="adminClasses in adminClassesData">{{adminClasses.name}}</option>
                </select>
            </div>

            <hr>

            <div id="someContainer" class="col-xs-12">
                <h4>Class Information</h4>
                <div class="slide col-md-12 admin-classes school well" ng-repeat="adminClasses in adminClassesData">
                    <p class="admin-classes-list classes-name"><span class = " info-title">Class Name:</span> {{adminClasses.name}}</p>
                    <div class="my-animation" ng-show="show">
                        <p class="admin-classes-list classes-startdate"><span class = " info-title">Class Start Date:</span> {{adminClasses.startdate | date:"MM/dd/yyyy"}}</p>
                        <p class="admin-classes-list classes-enddate"><span class = " info-title">Class End Date:</span> {{adminClasses.enddate | date:"MM/dd/yyyy"}}</p>
                    </div>
                    <button class="btn btn-primary" ng-click="show=!show">More Info</button><button class="btn btn-primary">Edit</button><button class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div><!--/row-->
</div>
</div><!--/.container-->

<footer>
    <p class="pull-right">©2015 Reve Academy</p>
</footer>